.main-div {
    padding : 0px;
    margin-top: -900px;
    opacity: 90%;
}

mat-toolbar{
    background-color: #d87a00;
    color:  white;
}

table{
    font-size: large;
}

img{
    width: 100px;
}

.healthytips{
    float: right;
    margin-top: -200px;
}

.exercises{
    float: left;
}