<div fxLayoutAlign = "center center" class="main-div">
    <mat-card fxFlex="30">
        <mat-toolbar color = "warn">Login Page</mat-toolbar>
        <form fxLayoutAlign = "stretch" fxLayout = "column" class = "login-form">
            <mat-form-field>
              <input matInput placeholder="Username">
            </mat-form-field>
          
            <mat-form-field>
                <input matInput type="password" placeholder="Password">
              </mat-form-field>
              <button routerLink = "user-detail-form" mat-raised-button type = "submit" color = "warn">Login</button>
              <p fxLayoutAlign = "center" id = "or" color = "gray">OR</p>
              <button routerLink = "signup" mat-raised-button type = "submit" color = "warn">Signup</button>
          </form>
    </mat-card>
</div>
