.main-div mat-card{
    padding : 0px;
    margin-top: -800px;
    opacity: 90%;
}
.login-form{
    padding : 20px;
}
#or{
    font-size: 16px;
    font-weight: initial;
    padding: 10px;
}

input{
    font-size: 18px;
}