<div fxLayoutAlign = "center center" class="main-div">
    <mat-card fxFlex="50">
        <mat-toolbar color = "warn">Cholesterol Detection Calculator</mat-toolbar>
        <form fxLayoutAlign = "stretch" fxLayout = "column" class = "user-detail-form">
            <mat-form-field>
              <input matInput placeholder="Name" required>
            </mat-form-field>
          
            <mat-form-field>
                <input matInput placeholder="Age" required>
              </mat-form-field>

              <mat-form-field>
                  <input matInput placeholder="Height (cm)" required>
                  </mat-form-field>

                  <mat-form-field>
                      <input matInput placeholder="Wheight (kg)" required>
                  </mat-form-field>

                  <label id="exercises">Gender?</label>
                  <mat-radio-group aria-label="Select an option" required>
                    <mat-radio-button value="Male" id = "yes">Male</mat-radio-button>
                    <mat-radio-button value="Female" id = "no">Female</mat-radio-button>
                    <mat-radio-button value="notFound" id = "notFound">Rather Not Found</mat-radio-button>
                  </mat-radio-group>

                  <label id="exercises">Are you a smoker?</label>
                  <mat-radio-group aria-label="Select an option" required>
                    <mat-radio-button value="yes" id = "yes">Yes</mat-radio-button>
                    <mat-radio-button value="no" id = "no">No</mat-radio-button>
                  </mat-radio-group>
                  
                  <mat-form-field appearance="fill">
                    <mat-label>How often do you exercise?</mat-label>
                    <select matNativeControl required>
                      <option value="daily">Daily</option>
                      <option value="week">Once a week</option>
                      <option value="month">Once a month</option>
                      <option value="none">Never</option>
                      <option value="other">Other</option>
                    </select>
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>Select your eating habbits?</mat-label>
                    <select matNativeControl required>
                      <option value="fast">Fast Food</option>
                      <option value="home">Home Made Food</option>
                      <option value="junk">Junk Food</option>
                      <option value="street">Street Food</option>
                      <option value="other">Other</option>
                    </select>
                  </mat-form-field>
                  
                

                <br>
                
              <button routerLink = "/secondary-details" mat-raised-button type = "Submit" color = "warn">Submit</button>
          </form>
    </mat-card>
</div>
