.main-div mat-card{
    padding : 0px;
    margin-top: -600px;
    opacity: 90%;
}
.user-detail-form{
    padding : 20px;
}
#yes{
    padding: 10px;
}
#no{
    padding:10px;
}
#notFound{
    padding: 10px;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }