<div fxLayoutAlign = "center center" class="main-div">
    <mat-card fxFlex="50">
        <mat-toolbar color = "warn">Signup Page</mat-toolbar>
        <form fxLayoutAlign = "stretch" fxLayout = "column" class = "login-form">
            <mat-form-field>
              <input matInput placeholder="First Name" required>
            </mat-form-field>
          
            <mat-form-field>
                <input matInput placeholder="Last Name" required>
              </mat-form-field>

              <mat-form-field>
                  <input matInput placeholder="Email" required>
                  </mat-form-field>

                  <mat-form-field>
                      <input matInput type = "Password" placeholder="Password" required>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput type = "Password" placeholder="Confirm Password" required>
                </mat-form-field>
              <button mat-raised-button type = "submit" color = "warn">Create New Account</button>
          </form>
    </mat-card>
</div>