<div class = "grid">
<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile><img src = "../../assets/Images/binura.jpg"><div class = "binura">Binura Methmal<br>2018081<br>W1790830</div></mat-grid-tile>
    <mat-grid-tile><img src = "../../assets/Images/senesh.jfif"><div class = "senesh">Senesh Fernando<br>2018393<br>W1761908</div></mat-grid-tile>
    <mat-grid-tile><img src = "../../assets/Images/pasindu.jpg"><div class = "pasindu">Pasindu Manodya<br>2018484<br>W1761934</div></mat-grid-tile>
    <mat-grid-tile><img src = "../../assets/Images/chanuth.jpg"><div class = "chanuth">Chanuth Wijesekara<br>2018392<br>W1761777</div></mat-grid-tile>
    <mat-grid-tile><img src = "../../assets/Images/yomal.jpeg"><div class = "yomal">Yomal Senarath<br>2018471<br>W1761770</div></mat-grid-tile>
    <mat-grid-tile><img src = "../../assets/Images/malaka.jpg"><div class = "malaka">Chirath de Silva<br>2018437<br>W1761739</div></mat-grid-tile>
  </mat-grid-list>
</div>