<div fxLayoutAlign = "center center" class="main-div">
<mat-card class="example-card" fxFlex="35">
        <mat-toolbar color = "warn">CHOLESTOMATE</mat-toolbar>
    <mat-card-content>
        <h4> Hello, We are team <b>GENESIS</b> a group of undergraduates from the University of Informatics Institute of Technology (IIT) affiliated with the University of Westminster, UK. We are creating a web based application to identify people who suffering from or who are in the blink of risk of having cholesterol. Finally we are providing a feedback about your currenet cholesterol situation and suggestions to keep a cholesterol free life style. </h4>

    </mat-card-content>
    <mat-card-actions fxLayoutAlign = "center">
        <button routerLink = "../login" mat-raised-button type="submit" color = "warn">Get Start</button>
    </mat-card-actions>
  </mat-card>
  </div>